.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 40px;


  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
  }
}