@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.app {
  background-color: #111827;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }

  p,
  a,
  h1,
  button {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
  }
  p {

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    &.-small {
      font-size: 15px;
      font-weight: 500;
      line-height: 30px;
    }
  }

  a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
  }

  h1 {
    font-size: 58px;
    font-weight: 700;
    line-height: 84px;
  }

  button {
    color: #F9FAFB;
    background: transparent;
    border: none;
    cursor: pointer;

    &._primary {
      padding: 12px 24px;
      background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
      font-size: 14px;
      font-weight: 500;
      border-radius: 5px;
    }

    &._secondary {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      gap: 23px;
    }
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 16px;

    .section {
      width: 100%;
      max-width: 1170px;
    }
  }

  .gradient_color {
    background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}